@import "tailwindcss";

:root {
  --background: #160d09;
  --primary: #d6aea0;
  --secondary: #6b5b2e;
  --accent: #b4ae51;
  --light: #f5eae7;
  --dark: #211612;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --font-poppins: var(--font-poppins);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}